%default-font-style {
  font-style: normal;
  color: $text-1;
  margin: 0;
  // font-family: TBD
}

h1 {
  @extend %default-font-style;

  font-weight: 700;
  font-size: 81px;
}

h2 {
  @extend %default-font-style;

  font-weight: 700;
  font-size: 54px;
}

h3 {
  @extend %default-font-style;

  font-weight: 700;
  font-size: 30px;
}

h4 {
  @extend %default-font-style;

  font-weight: 500;
  font-size: 24px;
}

strong {
  @extend %default-font-style;

  font-weight: 700;
  font-size: 16px;
}

p {
  @extend %default-font-style;

  font-weight: 400;
  font-size: 16px;
}

span {
  @extend %default-font-style;

  font-weight: 500;
  font-size: 14px;
}

th {
  @extend %default-font-style;

  font-weight: 500;
  font-size: 20px;
}

td {
  @extend %default-font-style;

  font-weight: 400;
  font-size: 16px;
}
